.card__likes {
    height: 32px;
    width: 52px;
    padding: 4px;
    background-color: #F7F8FC;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}