.form__category-address-window {
  width: 100%;
  padding: 16px 16px 32px;
  margin: 0 auto 28px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  box-sizing: border-box;
}