.add-request-button{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(207, 75, 75, 1);
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 5;
}