.popup__form {
    display: flex;
    flex-direction: column;
    width: 307px;
    max-height: 228px;
    margin: 0;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    z-index: 4;
}